.lang-zh {
  padding-bottom: 80px;
}

.lang-en {
  padding-bottom: 80px;
  .Impact {
    font-family: Impact, Impact !important;
    font-weight: 400 !important;
    span {
      font-family: Impact, Impact !important;
      font-weight: 400 !important;
    }
  }
}
